body {
  background: #d9ecff; 
  margin: 0;
  font-family: Arial, sans-serif;
  color: #222;
}

.container {
  max-width: 1050px;
  margin: auto;
  padding: 15px;
}

header {
  background: white;
  border-bottom: 4px solid #5aa8ff;
  position: sticky;
  top: 0;
  z-index: 100;
}

header h1 {
  margin: 0;
  padding: 20px 0 10px 0;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 18px;
}

nav a {
  text-decoration: none;
  color: #0077ff;
  font-weight: bold;
}

.section {
  background: white;
  margin-top: 20px;
  padding: 22px;
  border-radius: 14px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.07);
}

.avatar {
  width: 170px;
  height: 170px;
  border-radius: 14px;
  border: 3px solid #5aa8ff;
  float: left;
  margin-right: 20px;
}

.clearfix { clear: both; }

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
}

th {
  background: #eaf4ff;
  padding: 12px;
  text-align: left;
}

td { 
  padding: 12px;
  border-bottom: 1px solid #ccc;
}

tr:hover {
  background: #f5faff;
}

form input, form textarea {
  width: 100%;
  padding: 10px;
  margin-top: 8px;
  border-radius: 6px;
  border: 1px solid #aaa;
}


form button {
  margin-top: 10px;
  padding: 10px 18px;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 6px;
}

#secretWord {
  display: none;
}

audio, video {
  margin-top: 12px;
  width: 100%;
}

footer {
  text-align: center;
  padding: 20px;
  color: #333;
  font-weight: bold;
}